.app-main {
    width: 1000px;
    height: 1000px;
    margin: 10px auto 0px;
}

.app-main-container {
    padding: 0px 32px;
    width: 75%;
    height: 100%;
    float: right;
    background-color: antiquewhite; 
}

.app-main-side {
    border: 0px 10px;
    width: 25%;
    height: 100%;
    float: left;
    background-color: oldlace;
}

.profile-img-container{
    position: relative;
}

.user-status-border{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.img-border{
    width: 95%;
    height: 20%;
    border: 2px solid #eee;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;

}

.img-border img{
    width: 100%;
    height: 100%;    
}

.profile-names-container{
    padding: 16px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 15px;
}

.profile-user-name{
    font-size: 24px;
    font-weight:700;
    
}

.profile-user-username{
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #555;
}

.edit-profile-buttons{
    margin-bottom: 16px;

}

.follow-container{
    margin-bottom: 16px;
}
.follow-link,
.follow-font-b{
    color: #888;
    text-decoration: none;
}

.follow-link:not(.fa-solid){
    font-weight: 300;
}


.follow-container a.follow-font-b{
    color: #333;
    font-weight: 500;
}

.follow-container a :hover,
.follow-container a:hover *{
    color: #0969da;
}

.company-and-address-items{
    position: relative;
    padding: 4px 0px 0px 24px;
}

.company-and-address-items i {
    position: absolute;
    bottom: 0;
    left: 0;
}

.company-items-name{
    font-weight: 500;
    cursor: pointer;
}
.company-items-name:hover{
    text-decoration: underline;
}

.profile-etc-container{
    margin-top: 16px;
    border-top: 1px solid #dbdbdb;
    padding-top: 16px;
}

.profile-etc-title{
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
}

.achievements-items{
    display: flex;
    flex-wrap: wrap;
}

.achievements-img{
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
}

.achievements-img img{
    width: 100%;
}

.achievements-beta{
    border: 1px solid #1a7f37;
    border-radius: 14px;
    padding: 1.428px 8px;
    color: #1a7f37;
    font-weight: 300;
}

.send-feedback-link{
    color: #0969da;
    font-weight: 300;
    text-decoration: none;
}

.send-feedback-link:hover{
    text-decoration: underline;
}

.organizations-items{
    display: flex;
    flex-wrap: wrap;
}

.organizations-img{
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    width: 34px;
    height: 34px;
    margin-bottom: 3px;
    margin-right: 3px;
    background-color: #efefef;

}
